@page "/users"

@using RChat.UI.ViewModels.InformationViewModels;
@inherits UsersListComponent
@attribute [Authorize]
<h3>RChat Users!</h3>

<RadzenTextBox Placeholder="Search" @bind-Value=@Value TValue="string" Change="async () => await OnSearchChangeAsync()" />
<RadzenDropDown Placeholder="Sort Column" Disabled="@IsSortingDisabled" @bind-Value=@OrderBy TValue="string" Data="@SortingFieldDropDown" Change="async () => await OnSortChangeAsync()" />
<RadzenDropDown Placeholder="Sort Type" Disabled="@IsSortingDisabled" @bind-Value=@OrderByType TValue="string" Data="@SortingTypeDropDown" Change="async () => await OnSortChangeAsync()" />
Sorting disabled:
<RadzenSwitch @bind-Value=@IsSortingDisabled Change=@OnSortSwitchAsync />
@if (_selectedUsers.Any())
{
    <RadzenTextBox Placeholder="Enter groupname" @bind-Value=@GroupName TValue="string" />
    <RadzenButton class="btn btn-primary" Click="async () => await CreateGroupAsync()">Send</RadzenButton>
}
<RadzenDataGrid SelectionMode="DataGridSelectionMode.Multiple" Data="@EntityList" TItem="UserInformationViewModel">
    <EmptyTemplate>
        <p style="color: lightgrey; font-size: 24px; text-align: center; margin: 2rem;">No records to display.</p>
    </EmptyTemplate>
    <Columns>
        <RadzenDataGridColumn TItem="UserInformationViewModel" Width="60px" Sortable="false" Filterable="false">
            <Template Context="data">
                <RadzenCheckBox TriState="false" Value="@(_selectedUsers != null && _selectedUsers.Contains(data))"
                                TValue="bool" Change=@(args =>OnCheckBoxChange(args, data)) />
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Sortable="true" TItem="UserInformationViewModel" Property="Email" Title="Email"> </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="UserInformationViewModel" Property="UserName" Title="UserName"> </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="UserInformationViewModel" Property="PhoneNumber" Title="PhoneNumber"></RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="UserInformationViewModel" Property="Email" Title="Chat links">
            <Template Context="data">
                <RadzenButton ButtonStyle="ButtonStyle.Info" Variant="Variant.Flat" Shade="Shade.Lighter" Icon="info" class="m-1" Click=@(() => StartChat(data.Id)) Text="Start chat!" />
            </Template>
            <FooterTemplate>
                Found users: <b>@Count</b>
            </FooterTemplate>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>
<RadzenPager HorizontalAlign="HorizontalAlign.Right" Count="@Count" PageSize="@Size" PageNumbersCount="3" PageChanged="@OnPageChangedAsync" />
